.navbar-light .navbar-brand {
    font-family: 'Antic Didone', serif;
    font-weight: bolder;
    margin-left:22%;
    text-align: center;
    font-family: 'Antic Didone', serif;
    font-size: 28px;
    font-weight: bolder;
    color: transparent;
    background: black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px #B8D2DF(255,255,255,0.5);
}
.nav-item {
    margin-left:20px;
    font-weight: bold;
}
body {
    background-image: url("photos/background.jpg");
}
.container1 {
    background: #166A91;
    background: -moz-linear-gradient(top, #166A91 0%, #BAE4FF 27%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #166A91 0%, #BAE4FF 27%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #166A91 0%, #BAE4FF 27%, #FFFFFF 100%);
    padding:20px;
    margin-top:50px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 25px 23px 17px 6px rgba(0,0,0,0.72); 
    box-shadow: 0px 10px 13px -7px #000000, 25px 23px 17px 6px rgba(0,0,0,0.72);
}
.navbar {
    border-bottom: solid grey;
}
.row1 {
    font-size: 28px;
    font-family: 'Antic Didone', serif;
    color:black;
    font-weight: bolder;
   
}
#text {
    line-height: 200%;
    font-weight: bolder;
}
.row2 {
    font-family: 'Antic Didone', serif;
    font-size: 16px;
}
img {
    float:left;
    padding: 3px 30px 30px 0px;
    position: relative;
}
   
  .header {
    font-size: 28px;
    font-family: 'Antic Didone', serif;
    color:black;
    font-weight: bolder;
    padding: 20px;
    
  }
  
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #89B0C3;
    text-align: center;
}
#name{
    margin-left: auto;
    font-weight: 5px;
    font-size: 36px;
    background-color: #89B0C3;
    padding: 0% 7% 0% 7%;   
    border: 2px solid #B8D2DF;
    border-radius: 15px 15px 15px 15px;
    
}
#about, #port, #contact {
    font-family: 'Antic Didone', serif;
    font-size: 24px;
    background-color: #89B0C3;
    border: 2px solid #B8D2DF;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    font-family: 'Antic Didone', serif;
    font-size: 28px;
    font-weight: bolder;
    color: transparent;
    background: black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
#portwrap {
    background: #166A91;
    background: -moz-linear-gradient(top, #166A91 0%, #BAE4FF 27%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #166A91 0%, #BAE4FF 27%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #166A91 0%, #BAE4FF 27%, #FFFFFF 100%);
    padding:20px;
    margin-top:50px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 25px 23px 17px 6px rgba(0,0,0,0.72); 
    box-shadow: 0px 10px 13px -7px #000000, 25px 23px 17px 6px rgba(0,0,0,0.72);
    width: 100%;
}

#first #second #third {
position: relative;
}
#first {
    left: 5%;
    margin-top: 20px;
}
#second {
    left: 10%;
    margin-top: 20px;
}
#third {
    left: 15%;
    margin-top: 20px;
}

.card {
-webkit-box-shadow: 5px 5px 13px 5px rgba(0,0,0,0.59); 
box-shadow: 5px 5px 13px 5px rgba(0,0,0,0.59);
background: #B5CDCE;
background: -moz-linear-gradient(top, #B5CDCE 0%, #FFFFFF 72%, #D6F5FF 100%);
background: -webkit-linear-gradient(top, #B5CDCE 0%, #FFFFFF 72%, #D6F5FF 100%);
background: linear-gradient(to bottom, #B5CDCE 0%, #FFFFFF 72%, #D6F5FF 100%);
}
.card-img-top {
padding: 5%; 
}
.card-title {
    text-align: center;
    font-family: 'Antic Didone', serif;
    font-size: 28px;
    font-weight: bolder;
    color: transparent;
    background: black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
.card-text {
    text-align: center;
    font-family: 'Antic Didone', serif;
    font-size: 20px;
}
.card-body {
    text-align: center;
    font-family: 'Antic Didone', serif;
    font-size: 20px;
    font-weight: bolder;
}
#foot {
    display: none;

}
.card-link {
    font-family: 'Antic Didone', serif;
    font-size: 24px;
    
}
#resume{
    left: -5%;
    display: inline-block;
    margin-top: 40px;

}
#linkedin {
    left: 50%;
    display: inline-block;
    margin-top: 40px;
}
